* canvas {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: auto !important;
    background-image: url("/T1.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 70% !important;
    object-fit: cover;
    object-position: center;
    width: 150px !important;
    margin: auto !important;
    height: 100%;
    animation: blinker 3000ms linear infinite;
    opacity: 0;
}

@keyframes blinker {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}